extends layout

block content
	if(errors) 
		div(class="alert alert-danger" role="alert")
			p= "Errors: "
			ul
				each error in errors
					li= error
	else
		div(class="col-xs-12 col-md-8")
			p
				if(files || folders)
					table(class="table table-striped")
						tr
							th type
							th nom
							th download

						// for each folder
						each value, name in folders
							tr
								// "folder" Type image
								td
									img(src="https://cdn4.iconfinder.com/data/icons/linecon/512/folder-32.png")
								// List link
								td
									a(href="#{value.listLink}") #{name}
								// download link
								if(value.downloadLink)
									td 
										a(href="#{value.downloadLink}") 
											img(src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/download2-32.png")

						// For each file
						each value, name in files
							tr
								// "file" type image
								td
									img(src="https://cdn4.iconfinder.com/data/icons/48-bubbles/48/12.File-32.png")
								// File name
								td= name
								// download link
								td
									a(href="#{value.downloadLink}") 
										img(src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/download2-32.png")
				else
					li empty folder

		div(class="col-xs-6 col-md-4")
			// add file post form
			h3(class="text-primary") Add File:
			form(id="fileForm" method='post' enctype="multipart/form-data")
				input(type="file" id="inputFile" name="inputFile")
				input(type="submit" class="btn btn-default")

			// add create folder form
			h3(class="text-primary") Add Folders:
			form(id="folderForm" method ="post")
				input(type="text" id="folderInput" name="folderInput")
				input(type="submit" id = "folderSubmit" class="btn btn-default")


	// Scripts used to change form requests
	script.
		var baseRequest = window.location.protocol + "//" + window.location.host + "/";
		// Change file form action
		var inputFile = document.getElementById("inputFile");
		var fileForm = document.getElementById('fileForm');

		inputFile.onchange = function () {
			console.log('on change');
			var file = inputFile.files;
			if(file) {
				var urlRequest = baseRequest + window.location.pathname + '/' + file[0].name;
				fileForm.setAttribute('action', urlRequest);
			}
		};

		// Change folder form action
		var folderForm = document.getElementById('folderForm');
		var folderInput = document.getElementById('folderInput');
		var folderSubmitButton = document.getElementById('folderSubmit');
		folderSubmitButton.onclick = function () {
			var urlRequest = baseRequest + 'folder/' + window.location.pathname + '/' + folderInput.value;
			folderForm.setAttribute('action', urlRequest);
			alert('-->' + forlderForm.getAttribute());
			return false;
		};
